{% if custom_admin_footer %}
    {{ custom_admin_footer|raw }}
{% else %}
    <a href="https/facebook.com/garciaa94">Garciaa</a> v<span class="grav-version">{{ constant('GRAV_VERSION') }}</span> - Admin v{{ admin_version }} - {{ "PLUGIN_ADMIN.WAS_MADE_WITH"|tu|lower }} <i class="fa fa-heart-o pulse"></i> {{ "PLUGIN_ADMIN.BY"|tu|lower }} <a href="https://thepetergarcia.com" rel="noopener noreferrer">Thepetergarcia</a>.
{% endif %}
